# SPDX-FileCopyrightText: 2026 Catalan Lover <catalanlover@protonmail.com>
# SPDX-License-Identifier: Apache-2.0
#
# Ci in a Box 3 Compose settings
POSTGRES_IMAGE=postgres:18-alpine
POSTGRES_DB=postgres
SYNAPSE_IMAGE=ghcr.io/element-hq/synapse:latest
SYNAPSE_SERVER_NAME=localhost:9999
NGINX_IMAGE=nginx:stable-alpine

# Paths relative to the main Draupnir checkout.
DRAUPNIR_CONTEXT=..
DRAUPNIR_DOCKERFILE=ci-in-a-box/Dockerfile-Draupnir-Develop
DRAUPNIR_CONFIG_SOURCE=../config
NGINX_PORT=8081
REVERSE_PROXY_CONFIG_PATH=./scripts/nginx/nginx.conf
REVERSE_PROXY_NEWS_PATH=../apps/draupnir/test/draupnir_news.json
SYNAPSE_HTTP_ANTISPAM_SOURCE=../synapse-http-antispam/synapse_http_antispam.py
SYNAPSE_ANTISPAM_BASE_URL=http://draupnir-integration:8082/api/1/spam_check
