# SPDX-FileCopyrightText: 2024 Gnuxie <Gnuxie@protonmail.com>
#
# SPDX-License-Identifier: Apache-2.0

node_modules
config
lib
logs
storage
db
*.db
coverage
.idea
.vscode
.DS_Store
npm-debug.log*
yarn-error.log*
