root = true

[*]
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4

[{LICENSE,NOTICE}]
indent_size = unset

[*.{md,yml,yaml,json}]
trim_trailing_whitespace = false
indent_style = space
indent_size = unset
