# Copied from https://github.com/matrix-org/matrix-bifrost/blob/develop/.github/workflows/docker-hub-release.yml
# This is duplicated with docker-hub-release.yml the only difference is the tag and hook

name: "Docker Hub - Latest"

on:
  release:
    types: [released]

env:
  DOCKER_NAMESPACE: gnuxie
  PLATFORMS: linux/amd64,linux/arm64

jobs:
  docker-release:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      packages: write
      contents: read
      attestations: write
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - name: Get release tag
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Unshallow for git describe so we can create version.txt
        run: git fetch --prune --unshallow --tags --all --force
      - name: Prepare version file
        run: git describe > version.txt

      # Needed for multi platform builds
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: ${{ env.PLATFORMS }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build image
        id: push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          platforms: ${{ env.PLATFORMS }}
          push: true
          sbom: true
          tags: |
            ${{ env.DOCKER_NAMESPACE }}/draupnir:latest

      - name: Attest
        uses: actions/attest-build-provenance@v1
        id: attest
        with:
          subject-name: ${{ env.DOCKER_NAMESPACE }}/draupnir:latest
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
