# SPDX-FileCopyrightText: 2024 Gnuxie <Gnuxie@protonmail.com>
#
# SPDX-License-Identifier: CC0-1.0

name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: "20 20 * * *"
env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build & Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Specifically use node 20 like in the readme.
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - run: corepack enable
      - run: corepack yarn install
      - run: corepack yarn build
      - run: corepack yarn lint
  unit:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Specifically use node 20 like in the readme.
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - run: corepack yarn install
      - run: corepack yarn test:unit
  integration:
    name: Integration tests
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Fetch and build mx-tester (cached across runs)
        uses: baptiste0928/cargo-install@v3
        with:
          crate: mx-tester
          version: "0.3.3"
      - name: Setup image
        run: RUST_LOG=debug,hyper=info,rusttls=info mx-tester build up
      - name: Setup dependencies
        run: corepack yarn install
      - name: Run tests
        run: RUST_LOG=debug,hyper=info,rusttls=info mx-tester run
      - name: Cleanup
        run: mx-tester down
  appservice-integration:
    name: Application Service Integration tests
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Fetch and build mx-tester (cached across runs)
        uses: baptiste0928/cargo-install@v3
        with:
          crate: mx-tester
          version: "0.3.3"
      - name: Setup image
        run: RUST_LOG=debug,hyper=info,rusttls=info mx-tester build up
      - name: Setup dependencies
        run: corepack yarn install
      - name: Run tests
        run: corepack yarn test:appservice:integration
      - name: Cleanup
        run: mx-tester down
